<ion-view view-title="iLeilão" >
   <ion-content class="padding padrao">
      <div ng-show="participante">
        <h4>Leilões em destaque:</h4>    

        <div class="list">
	         <a class="item item-thumbnail-left" ng-click="vm.vaiFilhao('app.visualizar_param', item.id)"  ng-repeat="item in vm.dados.destaque.slice(0, 2)">
           <img ng-src="{{item.imagem}}">
           <h2>{{item.titulo}}</h2>
           <p>Lance inicial: {{item.valorMinimo | currency: 'R$ '}}  <br><span ng-show="item.maiorLance">Maior lance: {{item.maiorLance.valor | currency: 'R$ '}}</span></p>
           </a>
          <br>
       </div>
       <div class="text-right"><a class="test" href="#/app/destaque">Ver todos</a></div>

       <h4>Leilões que acompanho:</h4>    

       <div class="list">
	       <a class="item item-thumbnail-left" ng-click="vm.vaiFilhao('app.visualizar_param', item.id)" ng-repeat="item in vm.dados.usuario.slice(0, 2)">
           <img ng-src="{{item.imagem}}">
           <h2>{{item.titulo}}</h2>
           <p>Lance inicial: {{item.valorMinimo | currency: 'R$ '}}  <br><span ng-show="item.maiorLance">Maior lance: {{item.maiorLance.valor | currency: 'R$ '}}</span></p>
        </a>
        <br>
        </div>
        <div class="text-right"><a class="test" href="#/app/acompanha">Ver todos</a></div>
      </div>

      <div ng-show="!participante">
        <h4>Leilões em andamento:</h4>    

        <div class="list">
           <a class="item item-thumbnail-left" ng-click="vm.vaiFilhao('app.visualizar_param', item.id)" ng-repeat="item in vm.dados.andamento.slice(0, 2)">
           <img ng-src="{{item.imagem}}">
           <h2>{{item.titulo}}</h2>
           <p>Lance inicial: {{item.valorMinimo | currency: 'R$ '}}  <br><span ng-show="item.maiorLance">Maior lance: {{item.maiorLance.valor | currency: 'R$ '}}</span></p>
           </a>
           <br>
       </div>
       <div class="text-right"><a class="test" href="#/app/andamento">Ver todos</a></div>

       <h4>Solicitações de leilão:</h4>    

       <div class="list">
         <a class="item item-thumbnail-left" ng-click="vm.vaiFilhao('app.solicitacoes_leilo_param', item.id)" ng-repeat="item in vm.dados.solicitacoes.slice(0, 2)">
           <img ng-src="{{item.lote.imagem}}">
           <h2>{{item.nome}}</h2>
           <p>Lance inicial: {{item.lote.valorMinimo | currency: 'R$ '}}</p>
        </a>
        <br>
        </div>
        <div class="text-right"><a class="test" href="#/app/solicitacoes">Ver todos</a></div>
      </div>
  </ion-content>
</ion-view>
