<ion-view view-title="iLeilão" >
   <ion-content class="padding padrao">
      <h4>Leilões em destaque:</h4>    

      <div class="list">
	      <a class="item item-thumbnail-left" href="#">
      	   <img src="img/iphone.png">
      	   <h2>iPhone 5S - 120 un.</h2>
      	   <p>L.I: R$300,00  M.L: R$470,00</p>
    	  </a>
        <br>
        <a class="item item-thumbnail-left" href="#">
           <img src="img/camera.png">
           <h2>Câmeras - 30 un. com NF</h2>
           <p>L.I: R$100,00  M.L: R$590,00</p>
        </a>
        <br>
        <a class="item item-thumbnail-left" href="#">
           <img src="img/iphone.png">
           <h2>iPhone 5S - 120 un.</h2>
           <p>L.I: R$300,00  M.L: R$470,00</p>
        </a>
      </div>
      <div class="text-right"><a href="#/app/destaque">Ver todos</a></div>

      <h4>Leilões que acompanho:</h4>    

      <div class="list">
	      <a class="item item-thumbnail-left" href="#">
      	   <img src="img/iphone.png">
      	   <h2>iPhone 5S - 120 un.</h2>
      	   <p>L.I: R$300,00  M.L: R$470,00</p>
    	  </a>
        <br>
        <a class="item item-thumbnail-left" href="#">
           <img src="img/camera.png">
           <h2>Câmeras - 30 un. com NF</h2>
           <p>L.I: R$100,00  M.L: R$590,00</p>
        </a>
        <br>
        <a class="item item-thumbnail-left" href="#">
           <img src="img/iphone.png">
           <h2>iPhone 5S - 120 un.</h2>
           <p>L.I: R$300,00  M.L: R$470,00</p>
        </a>
      </div>
      <div class="text-right"><a href="#/app/acompanha">Ver todos</a></div>
  </ion-content>
</ion-view>
