<ion-view view-title="iLeilão" >
   <ion-content class="padding padrao">
      <div ng-show="participante">
        <h4>Leilões em destaque:</h4>    

        <div class="list">
	         <a class="item item-thumbnail-left" href="#"  ng-repeat="item in vm.dados.destaque.slice(0, 2)">
           <img ng-src="{{item.imagem}}">
           <h2>{{item.titulo}}</h2>
           <p>L.I: {{item.valorMinimo}}  M.L: {{item.maiorLance.valor}}</p>
           </a>
          <br>
       </div>
       <div class="text-right"><a class="test" href="#/app/destaque">Ver todos</a></div>

       <h4>Leilões que acompanho:</h4>    

       <div class="list">
	       <a class="item item-thumbnail-left" href="#"  ng-repeat="item in vm.dados.usuario.slice(0, 2)">
           <img ng-src="{{item.imagem}}">
           <h2>{{item.titulo}}</h2>
           <p>L.I: {{item.valorMinimo}}  M.L: {{item.maiorLance.valor}}</p>
        </a>
        <br>
        </div>
        <div class="text-right"><a class="test" href="#/app/acompanha">Ver todos</a></div>
      </div>

      <div ng-show="!participante">
        <h4>Leilões em andamento:</h4>    

        <div class="list">
           <a class="item item-thumbnail-left" href="#"  ng-repeat="item in vm.dados.andamento.slice(0, 2)">
           <img ng-src="{{item.imagem}}">
           <h2>{{item.titulo}}</h2>
           <p>L.I: {{item.valorMinimo}}  M.L: {{item.maiorLance.valor}}</p>
           </a>
           <br>
       </div>
       <div class="text-right"><a class="test" href="#/app/andamento">Ver todos</a></div>

       <h4>Solicitações de leilão:</h4>    

       <div class="list">
         <a class="item item-thumbnail-left" href="#"  ng-repeat="item in vm.dados.solicitacoes.slice(0, 2)">
           <img ng-src="{{item.lote.imagem}}">
           <h2>{{item.nome}}</h2>
           <p>L.I: {{item.lote.valorMinimo}}</p>
        </a>
        <br>
        </div>
        <div class="text-right"><a class="test" href="#/app/solicitacoes_leilo">Ver todos</a></div>
      </div>
  </ion-content>
</ion-view>
