<ion-view view-title="iLeilão" >

   <ion-content class="padding padrao">
       <h4 align="center">Visualizar solicitação</h4>    
       <br>
       <form name="solicitacao">
           <h4>iPhone 7</h4>
           
           <div class="row">
                <div class="col bord col-center col-33">
                    <img class="centro tama" src="img/iphone.png">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">M.L.: R$470,00</div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            Comprador: Dougras
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            Inc.: R$10,00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            L.I.: R$300,00
                        </div>
                    </div>
                </div>
            </div>

            <h4>Produtos:</h4>
            <div class="row">
                <div class="col bord col-center col-25">
                    <img class="tam centro" disabled src="img/iphone.png">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">  
                            iPhone 7
                        </div>
                        <div class="col">  
                            Qtd.: 120 un.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            Novo na caixa, importado, sem NF
                        </div>
                    </div>
                </div>
            </div>
            <br>
           <div class="row">
               <div class="col">
                   <button type="submit" class="button icon-left ion-android-close cor button-block" ng-click="vm.recusar()">Recusar</button>
               </div>
               <div class="col">
                   <button type="submit" class="button icon-left ion-checkmark cor button-block" ng-click="vm.aceitar()">Iniciar Leilão</button>
               </div>


           
       </form>
  </ion-content>
</ion-view>
