<ion-view view-title="iLeilão" >

   <ion-content class="padding">
       <h4 align="center">Solicitação de leilão</h4>    
       <br>
       <form name="solicitacao">
           <label class="item item-input">
               <input type="text" placeholder="Título do leilão">
           </label>
           <br>
           <div class="row">
                <div class="col bord col-center col-33">
                    <img class="centro tam" src="img/iphone.png">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">  
                            <label class="item item-input">
                                <input type="text" placeholder="Lance inicial">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            <label class="item item-input">
                                <input type="text" placeholder="Incremento">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            <label class="item item-input">
                                <input type="text" placeholder="Tempo de lance">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Produtos:</h4>
            <div class="row">
                <div class="col bord col-center col-25">
                    <img class="tam centro" src="img/iphone.png">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">  
                            <label class="item item-input">
                                <input type="text" placeholder="Lance inicial">
                            </label>
                        </div>
                        <div class="col">  
                            <label class="item item-input">
                                <input type="text" placeholder="Lance inicial">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            <label class="item item-input">
                                <input type="text" placeholder="Incremento">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
           
           
       </form>
  </ion-content>
</ion-view>
