<ion-view view-title="iLeilão" >

   <ion-content class="padding padrao">
       <h4 align="center">Visualizar leilão</h4>    
       <form name="solicitacao">
           <h4>{{vm.dados.nome}}</h4>
           
           <div class="row">
                <div class="col bord col-center col-33">
                    <img class="centro tama" ng-src="{{vm.dados.lote.imagem}}">
                </div>
                <div class="col">
                    <div class="row" ng-show="vm.dados.maiorLance">
                        <div class="col">Maior lance: {{vm.dados.maiorLance.valor | currency : 'R$ '}}</div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            Término em: {{vm.dados.dataFinal.toLocaleString()}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" ng-show="!participante">  
                            Incremento mínimo: {{vm.dados.incrementoMinimo | currency: 'R$ '}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            Lance inicial: {{vm.dados.lote.valorMinimo | currency: 'R$ '}}
                        </div>
                    </div>
                     <div class="row">
                        <div class="col">  
                            <button type="submit" class="button icon-left ion-android-cart cor button-small button-block" ng-show="participante" ng-click="vm.lanceMinimo()">Lance +{{vm.dados.incrementoMinimo}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <h5 ng-show="participante">Inserir valor do lance: </h5>
            <div class="row" ng-show="participante">
                <div class="col">
                    <label class="item item-input">
                        <input type="text" placeholder="Valor do lance" ng-model="lance">
                    </label>
                </div>
                <div class="col">  
                     <button class="button cor button-small" ng-click="vm.lance(lance)">Lance!</button>
                </div>
            </div>
            <div class="row" ng-show="!participante">
                <div class="col" >  
                    <button type="submit" class="button icon-left ion-android-hand cor button-block" ng-click="vm.encerrar()">Encerrar</button>
                </div>
            </div>
            <br>
            <span>Vendedor: {{vm.dados.lote.vendedor.nome}}</span>
            <span style="float: right;" ng-show="!participante && vm.dados.maiorLance">M.L. por: {{vm.dados.maiorLance.usuario.nome}}</span>
            <h4>Produtos:</h4>
            <div class="row" ng-repeat="produto in vm.dados.lote.produtos">
                <div class="col bord col-center col-25">
                    <img class="tam centro" ng-src="{{produto.imagem}}">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">  
                            {{produto.nome}}
                        </div>
                        <div class="col">  
                            Qtd.: {{produto.quantidade}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            {{produto.descricao}}
                        </div>
                    </div>
                </div>
            </div>          
       </form>
  </ion-content>
</ion-view>
