<ion-view view-title="iLeilão" >

   <ion-content class="padding padrao">
       <h4 align="center">Visualizar solicitação</h4>    
       <br>
       <form name="solicitacao">
           <h4>iPhone 7</h4>
           
           <div class="row">
                <div class="col bord col-center col-33">
                    <img class="centro tama" src="img/iphone.png">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">M.L.: R$470,00</div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            Termino em: 10/07 15h30
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" ng-show="!participante">  
                            Inc.: R$10,00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            L.I.: R$300,00
                        </div>
                    </div>
                     <div class="row">
                        <div class="col">  
                            <button type="submit" class="button icon-left ion-android-cart cor button-small button-block" ng-show="participante">Lance +10
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <h5 ng-show="participante">Inserir valor do lance: </h5>
            <div class="row" ng-show="participante">
                <div class="col">  
                    <label type="submit" class="item item-input item-select" >Lance +10</label>
                </div>
                <div class="col">  
                     <button type="submit" class="button cor button-small">Lance!</button>
                </div>
            </div>
            <div class="row" ng-show="!participante">
                <div class="col" >  
                    <button type="submit" class="button icon-left ion-android-hand cor button-block">Encerrar</button>
                </div>
            </div>
            <br>
            <span>Vendedor: Michael</span>
            <span style="float: right;" ng-show="!participante">M.L. por: Dougras</span>
            <h4>Produtos:</h4>
            <div class="row">
                <div class="col bord col-center col-25">
                    <img class="tam centro" disabled src="img/iphone.png">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">  
                            iPhone 7
                        </div>
                        <div class="col">  
                            Qtd.: 120 un.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">  
                            Novo na caixa, importado, sem NF
                        </div>
                    </div>
                </div>
            </div>          
       </form>
  </ion-content>
</ion-view>
